/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: black;
  color: white;
}

.navbar-brand {
  color: white;
}

.br-12 {
  border-radius: 12px 4px;
}

.btn-pink {
  background-color: #e12786;
  color: white;
}

.btn-pink:hover {
  background-color: #c52176;
  color: white;
}

.intro-header {
  height: unset !important;
}
.intro-2 {
  background: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp')
    no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}
.btn .fa {
  margin-left: 3px;
}
.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: rgba(0, 0, 0, 0.5) !important;
  }
}
h6 {
  line-height: 1.7;
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.6),
    rgba(17, 19, 18, 0.6) 100%
  );
}
@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: auto;
  }
}
